






<div class="col-md-6 offset-md-3 d-flex flex-column-reverse">

    <div class="card mt-5">
        <div class="card-body bg-info">
              
             <h2> First Name :  {{viewObj.first_name}}</h2>
             <h2> Last Name : {{viewObj.last_name}}</h2>
             <h2> Email : {{viewObj.email}}</h2>
             <h2> Phone No : {{viewObj.phone_no}}</h2>

        </div>
        <div class="card-footer text-right">
           
            <button class="btn-success btn"  (click)="gotodash()" > Go to dashboard</button>
        </div>
    </div>
</div>
